#app {
    position: relative;
}

.mb-3{
    position: absolute;
    top: 80px;
    right: 150px;

}

.insertButton{
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 200px;
    width: 200px;
    font-size: 200px;
    z-index: 100;
    padding: 20px;
    box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
    overflow-y: auto;
}

.col-name {
    position: absolute;
    top: 80px;
    bottom: 0;
    right: 150px;
    width: 200px;

}